:host {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
}

#container {
  width: 100%;
  height: 100%;
}

#container.active {
  -webkit-animation: rotate 833ms linear infinite;
  animation: rotate 833ms linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-clipper {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.circle {
  box-sizing: border-box;
  width: 200%;
  height: 100%;
  border-color: #4285f4;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

.circle.left {
  opacity: 0;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.active .circle.left {
  -webkit-animation: left-spin 5333ms ease-in-out infinite;
  animation: left-spin 5333ms ease-in-out infinite;
}

.circle.right {
  left: -100%;
  opacity: 0;
  -webkit-transform: rotate(-130deg);
  transform: rotate(-130deg);
}

.active .circle.right {
  -webkit-animation: right-spin 5333ms ease-in-out infinite;
  animation: right-spin 5333ms ease-in-out infinite;
}

.active .circle.blue {
  border-color: #4285f4;
}

.active .circle.red {
  border-color: #db4437;
  -webkit-animation-delay: 1333ms;
  animation-delay: 1333ms;
}

.active .circle.yellow {
  border-color: #f4b400;
  -webkit-animation-delay: 2667ms;
  animation-delay: 2667ms;
}

.active .circle.green {
  border-color: #0f9d58;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

@-webkit-keyframes left-spin {
  from {
    opacity: 0;
    -webkit-transform: rotate(40deg);
  }
  3% {
    opacity: 1;
  }
  12% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    -webkit-transform: rotate(40deg);
  }
  28% {
    opacity: 0;
  }
}

@keyframes left-spin {
  from {
    opacity: 0;
    transform: rotate(40deg);
  }
  3% {
    opacity: 1;
  }
  12% {
    opacity: 1;
    transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(40deg);
  }
  28% {
    opacity: 0;
  }
}

@-webkit-keyframes right-spin {
  from {
    opacity: 0;
    -webkit-transform: rotate(-130deg);
  }
  3% {
    opacity: 1;
  }
  12% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    -webkit-transform: rotate(-130deg);
  }
  28% {
    opacity: 0;
  }
}

@keyframes right-spin {
  from {
    opacity: 0;
    transform: rotate(-130deg);
  }
  3% {
    opacity: 1;
  }
  12% {
    opacity: 1;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-130deg);
  }
  28% {
    opacity: 0;
  }
}

.warmdown .circle-clipper {
  -webkit-animation: fade-out 400ms ease-in-out;
  animation: fade-out 400ms ease-in-out;
}


@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/**
 * HACK: The following are actually redundant CSS rules (e.g. combines the animation and
 * animation-delay properties of .circle.red and .circle.left), but are needed to work
 * around a Safari issue (it recognizes -webkit-animation-delay in .circle.red as
 * -webkit-animation and overrides the .circle.left -webkit-animation property).
 */
.active .circle.red.left {
  -webkit-animation: left-spin 5333ms ease-in-out 1333ms infinite;
  animation: left-spin 5333ms ease-in-out 1333ms infinite;
}

.active .circle.red.right {
  -webkit-animation: right-spin 5333ms ease-in-out 1333ms infinite;
  animation: right-spin 5333ms ease-in-out 1333ms infinite;
}

.active .circle.yellow.left {
  -webkit-animation: left-spin 5333ms ease-in-out 2667ms infinite;
  animation: left-spin 5333ms ease-in-out 2667ms infinite;
}

.active .circle.yellow.right {
  -webkit-animation: right-spin 5333ms ease-in-out 2667ms infinite;
  animation: right-spin 5333ms ease-in-out 2667ms infinite;
}

.active .circle.green.left {
  -webkit-animation: left-spin 5333ms ease-in-out 4s infinite;
  animation: left-spin 5333ms ease-in-out 4s infinite;
}

.active .circle.green.right {
  -webkit-animation: right-spin 5333ms ease-in-out 4s infinite;
  animation: right-spin 5333ms ease-in-out 4s infinite;
}
